<div class="container">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12 center-align">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 center-align">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light" type="submit" name="action">Connexion</button>
        &nbsp;&nbsp;
        <button class="btn waves-effect waves-light" type="submit" name="action">Inscription</button>
      </div>
    </form>
  </div>
</div>
