<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Accueil</a></li>
        <li><a href="login" class="waves-effect waves-light btn">Connexion</a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>

